name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Make script executable
      run: chmod +x "${{ github.workspace }}/scripts/run.sh"
    - name: Run integration tests
      run: bash "${{ github.workspace }}/scripts/run.sh"    
    - name: Publish the report as artifacts
      uses: actions/upload-artifact@v4 
      with:
        name: SpecflowReport
        path: ./reports
